@import "../../styles/constants.scss";

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    .wrappers {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        text-align: center;

        a {
            min-width: 150px;
            @media (max-width: $tabletBreakpoint) {
                width: 100%;
                min-width: unset;
            }
        }
    }

    @media (max-width: $mobileBreakpoint) {
        flex-direction: column;
    }

}